.contenedor-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 45px;
}

.title-footer {
  color: white;
  text-align: center;
  font-size: 14px;
}
