* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: black;
  color: white;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_header{
padding-left: 20px;
cursor: pointer;
}

.header-cont-car{
    display: flex;
    gap: 10px;
    padding-right: 16px;
    color: #fff;
}

.fa-cart-shopping {
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: flex;
}
